@charset "utf-8";
.uiMemo {
	position: relative;
	margin: 0 auto;
	width: 400px;

	input, button, textarea {
		padding: 15px;
		width: 100%;
		display: block;
		border-radius: 5px;
	}
	input, textarea {
		margin-bottom: 15px;
		border: 1px solid #000;
	}
	button {
		cursor: pointer;
	}
	.pageTit {
		padding: 30px 0;
		font-size: 22px;
		text-align: center;
	}

	.postArea {
		padding-bottom: 30px;
		
		button {
			background-color: #cacaca;
		}
	}

	.memoList li {
		padding: 10px;
		display: block;
		border: 1px solid #333;
		border-radius: 5px;

		&:not(:first-child) {
			margin-top: 15px;
		}

		p {
			padding: 15px 0;
			width: 100%;
		}

		.btn {
			font-size: 0;
			
			button {
				width: 48%;
				display: inline-block;
				vertical-align: middle;
				font-size: 12px;
			}
			.editBtn {
				background-color: $memo_edit_color;
				margin-right: 4%;
			}
			.deleteBtn {
				background-color: #2196f3;
			}
		}
	}

	.editModal {
		background-color: #000000d4;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		.inner {
			width: 400px;
			position: absolute;
			@include prefixes(transform, translate(-50%,-50%));
			top: 50%;
			left: 50%;
			
			input, textarea {
				background-color: #FFF;
			}
		}
		.btn {
			text-align: center;

			.editBtn {
				background-color: $memo_edit_color;
			}
			.cancel {
				display: inline-block;
				margin-top: 15px;
				text-align: center;
				cursor: pointer;
				color: #FFF;
				font-size: 16px;
				border-bottom: 1px solid;
			}
		}
	}
	.fade-enter-active, .fade-leave-active {
		transition: opacity .5s
	}
	.fade-enter, .fade-leave {
		opacity: 0
	}
}
input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
